@import url("cartao.css");
@import url("corpo.css");
@import url("cabecalho.css");
@import url("rodape.css");

* {
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0rem;
    padding: 0rem;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



